

<ion-header>

  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <!-- <ion-icon slot="icon-only" name="star"></ion-icon> -->
      </ion-button>
  
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <!-- <ion-icon slot="icon-only" name="add"></ion-icon> -->
      </ion-button>
    </ion-buttons>
    <ion-title>Добавить осмотр</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

  <div class="add-horse-content">


    <form #form="ngForm" (ngSubmit)="create(form)">
      <ion-list>

        <ion-item>
          <ion-label class="ion-padding-bottom" position="floating">процедура <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input ngModel name="title" required #nameCtrl="ngModel"></ion-input>
        </ion-item>


          <ion-item>
            <ion-label>лошадь</ion-label>
            <ion-select ngModel name="horse" required #nameCtrl="ngModel">
              <ion-select-option *ngFor="let horse of horses" [value]='horse.id'>{{horse.name}}</ion-select-option>
            </ion-select>
          </ion-item>



        <!-- <ion-item>
          <ion-label class="ion-padding-bottom" position="floating">имя <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input ngModel name="horse" required #nameCtrl="ngModel"></ion-input>
        </ion-item> -->

        <!-- <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
          <ion-label> Введите корректный адрес.</ion-label>
        </ion-item> -->

        <!-- <ion-item>
          <ion-label class="ion-padding-bottom" position="floating">год рожения <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input ngModel name="birth" required #birthCtrl="ngModel"></ion-input>
        </ion-item> -->


                
        <ion-item>
          <ion-label>дата </ion-label>
          <ion-datetime ngModel name="birth" placeholder="год"  displayFormat="MM DD YY" min="1981" max="2025"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label class="ion-padding-bottom" position="floating">цена <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input ngModel name="price" required #nameCtrl="ngModel"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="ion-padding-bottom" position="floating">врач <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input ngModel name="doctor" required #nameCtrl="ngModel"></ion-input>
        </ion-item>
      

      </ion-list>

      <div class="btn-block">
        <ion-button type="submit" fill="clear" expand="block">
          сохранить
        </ion-button>
      </div>

    </form>
  </div>
</ion-content>

