ion-header {
    z-index: 0;
    text-align: center;
}

.main{
    background-color: #FCFCFC;
    min-height: 100%;
    min-width: 100%;
}

.person-profile{
    box-sizing: border-box;
    min-width: 100%;
    padding: 10% 8% 10px 8%;
}

.person-info{
    padding-bottom: 8%;
    text-align: center;
}

.name {
    padding-bottom: 12px;
}

.btn {
    padding-top: 8%;
    display: flex;
    justify-content: center;
}

ion-icon{
    font-size: 30px;
    padding-right: 20px;
}
