ion-header {
    z-index: 0;
}

.main{
    background-color: #F8F8F8;
    min-height: 100%;
    min-width: 100%;
}

.person-profile{
    box-sizing: border-box;
    min-width: 100%;
    padding: 10% 8% 10px 8%;
}

.photo-name{
    padding-bottom: 10%;
}

ion-icon {
    font-size: 80px;
    color: black;
}