<ion-header>
  <ion-toolbar>
    <ion-title>профиль</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="person-profile">
      <div class="person-info">
        <ion-title class="name"> Касаткина Анна Сергеевна</ion-title>
        <ion-title> +7-921-567-37-14</ion-title>
        
        <div class="btn" >
          <ion-icon name="pencil-outline"></ion-icon>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
      </div>
    </div>


    <app-horse-profile [horseItem]="horse" *ngFor="let horse of horses"></app-horse-profile>

  </div>

  <!-- <div *ngFor="let horse of horses | async">
    {{horse.name}}
  </div> -->

</ion-content>