.add-horse-content{
    padding-left:  10%;
    padding-right:  10%;
    padding-top:  10%;
}

.gender{
    padding-top: 19px
}

ion-header {
    z-index: 0;
    text-align: center;
    border-bottom: 0.5px #FCFCFC solid;
}

