<ion-content>
  <div class="content">
    <div class="main-menu">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="inox" (click)="goToProfile()">

              <div class="c">
                <ion-icon class="menu-icon" src="../assets/horse.svg"></ion-icon>
              </div>

              <div class="text">профиль</div>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <div class="inox" (click)="goToVeterenary()">

                <div class="c">
                  <ion-icon class="menu-icon" name="medkit-outline"></ion-icon>
                </div>

                <div class="text">ветеринария</div>

              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>




    <ion-button expand="full" class="registr-btn" (click)="logout()">
      Выход
    </ion-button>


  </div>

</ion-content>