.container {
    margin-top: 100px;
    height: 400px;
    background-color: #F8F8F8;
}

ion-header {
    z-index: 0;
    text-align: center;
    border-bottom: 0.5px #FCFCFC solid;
}


.main-menu{
    margin-top: 30px;
    background-color: #F8F8F8;
    width: 100%;
    padding: 15px 0px 25px 0px;
    margin-bottom: 30px;
}

.inox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.menu-icon{
    width: 70%;
    height:  80%;
    padding-bottom: 8px;
    color: #F2F3F4 ;
}


ion-col{
--ion-grid-column-padding: 10px;
}

.c {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #ABEBC6;
    width: 55%;
    height: 80%;

    border-radius: 100px; /* Радиус скругления */
    border: 3px solid #ABEBC6; /* Параметры рамки */
    box-shadow: 0 0 6px #909497; /* Параметры тени #666 */ 
    margin-bottom: 15px;
    margin-top: 10px;
}

.text{
    color: #262626;
    font-style: normal;
    // font-weight: bold;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
}