<ion-header>
  <ion-toolbar>
    <ion-title>edit-horse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="horse">

  

  <div class="add-horse-content">


    <form #form="ngForm" (ngSubmit)="save(form)">
      <ion-list>
        <ion-item>
          <ion-label  position="fixed">имя <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input class="name-input" [(ngModel)]="horse.name" name="name" required #nameCtrl="ngModel"></ion-input>
        </ion-item>



        <ion-item>
          <ion-label>год рождения </ion-label>
          <ion-datetime [(ngModel)]="year" name="birth" placeholder="год" displayFormat="YYYY" min="1981" max="2025">
          </ion-datetime>
        </ion-item>
        <ion-item>

          <ion-label> пол <ion-text color="danger">*</ion-text>
          </ion-label>

          <ion-select required [(ngModel)]="horse.gender" name="gender" placeholder="пол">
            <ion-select-option value="MARE">кобыла</ion-select-option>
            <ion-select-option value="STALLION">жеребец</ion-select-option>
            <ion-select-option value="GELDING">мерин</ion-select-option>
          </ion-select>
        </ion-item>


      </ion-list>

      <div class="btn-block">
        <ion-button type="submit" fill="clear" expand="block">
          сохранить
        </ion-button>
      </div>


    </form>
  </div>

  
  <div class="btn-block"  *ngIf="horse.resident == 'true'">
    <ion-button (click)="leaveHorseClub()" fill="clear" expand="block">
      выйти из КСК
    </ion-button>
  </div>

  <ion-button color="danger" (click)="deleteHorse()">Удалить</ion-button>

</ion-content>