.horse-name-title{
    min-width: 100%;
    min-height: 55px;
    background-color: #002541;
}

.horse-name{
    color: white;
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    padding-top: 15px;
    padding-right: 25px;
}

.horse-info{
    padding: 8%;
}

.table-row{
    min-width: 100%;
    box-sizing: border-box;
    border: 0.5px solid #D9D9D9;
    background-color: white;
    margin-bottom: 3px;
    min-height: 45px;
    border-radius: 3px;
}

.row-title{
    border-right: 0.5px solid #D9D9D9;
}

.registr-btn{
    margin-top: 10%;
    min-width: 99%;
    box-sizing: border-box;
    height: 50px;
    --background: #F2F3F3;
    --opacity: 0.5;
    --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: black;
}
