<!-- <div class="horse-name-title">
  <div><ion-title class="horse-name">{{horse.name}} </ion-title></div>
  <ion-icon name="pencil-outline"

    [routerLink]="['/home/profile/edit-horse']"
    [queryParams]="{horse_id: horse.id}"

    ></ion-icon>
</div>


<div class="horse-info">
  <div>
    <ion-grid>
      <ion-row class="table-row ion-align-items-center ion-text-center">
        <ion-col size="4" class="row-title">год рожд.</ion-col>
        <ion-col size="8">{{horse.birth_year}}</ion-col>
      </ion-row>

      <ion-row class="table-row ion-align-items-center ion-text-center" *ngIf="horse.isResident == 'true'">
        <ion-col size="4" class="row-title">КСК</ion-col>
        <ion-col size="8">{{horse_club}}</ion-col>
      </ion-row>

    </ion-grid>

    <div class="club-info">
      <div class="btn" *ngIf="horse.isResident == 'false'">
        <ion-button class="registr-btn" (click)="presentAlert()">
          Зарегистрировать в КСК
        </ion-button>
      </div>
    
      <div *ngIf="horse.isResident == 'request'">
        <div class="btn-text">
          Заявка в КСК отправлена
        </div> 
        <div class="btn">
          <ion-button class="registr-btn" (click)="cancelRequest()">отменить заявку</ion-button>
        </div>
      </div>
    
      <div class="btn" *ngIf="horse.isResident == 'true'">
        <ion-button class="registr-btn" [routerLink]="['/home/profile/care']"
          [queryParams]="{horse_id: horse.id, club_id: horse.club_id}">
          Информация по уходу
        </ion-button>
      </div>
    </div>
    </div>
    </div> -->


    <div class="vet-card">
      <ion-card>
        <ion-card-header>
          <!-- <ion-card-subtitle>{{procedure.date}}</ion-card-subtitle> -->
          <ion-card-title>{{horse.name}}</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          <ion-item href="#"  class="ion-activated">
            <ion-icon src="../../../assets/horse.svg" slot="start"></ion-icon>
            <ion-label>Питание</ion-label>
          </ion-item>
    
          <ion-item href="#" >
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label> Дополнительно </ion-label>
          </ion-item>
    
          <ion-item href="#" >
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <ion-label> Тренинг </ion-label>
          </ion-item>
    
          <ion-item lines="none" href="#" >
            <ion-icon name="card-outline" slot="start"></ion-icon>
            <ion-label> Профиль </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    
    </div>
