.care-title {
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.care-info {
    background-color: #002541;
    color: white;
    width: 40%;
    display: flex;
    // align-self: center
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    border-radius: 0px 3px 3px 0px;

}

.delete-icon{
    align-self: center;
    margin-left: 10px;
    font-size: 25px;
}

.item-amount{
    align-self: center;
}