<ion-header>

  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <!-- <ion-icon slot="icon-only" name="star"></ion-icon> -->
      </ion-button>
  
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="create()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ветеринария</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

  <div class="vet-content">
    <div *ngFor="let proc of vets">
      <app-custom-procedure-card сlass="vet-card" [procedure]="proc" *ngIf="proc.type == 'club'"></app-custom-procedure-card>
    </div>
  </div>
</ion-content>